/* CSS STYLE */

html, body {
  margin: 0;
  padding: 0;

}

p {
  font-size: 20px;
}


/*--- All ---*/

.main, .content, .projects, .experience, .section{
  background-color: #2C3E50;
  color: lightblue;
  font-family: 'Arvo', serif;
}

/*--- Section ---*/

.section {
  color: gold;
}

.section h1 {
  font-size: 50px;
}

.section h2 {
  font-size: 36px;
}


/*--- Main ---*/

.main {
  color: lightblue;
}

.main h1 {
  color: gold;
  font-size: 42px;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.main .img-circle  {
  border: 5px solid black;
  border-radius: 50%;

 
}



.social-media li {
  display: inline-block;
  background-color: blue;
  border: 5px solid black;
  border-radius: 10px;

}

.social-media {
  padding: 0px;
}

#contact {
  font-size: 16px;
}

span {
  color: silver;
  text-decoration: underline;
}

.social-media span {
  color: white;
  text-decoration: none;
}



/*--- Content ---*/

.content {
  color: lightblue;
}

.content h2, .content h3 {
  color: gold;

}

.content h3 {
  font-size: 28px;
}

.content li {
  font-size: 16px;
}

/*--- Projects ---*/


.projects h4 {
  text-decoration: underline;
  color: white;
  font-size: 24px;
}

.projects .row {
  padding-bottom: 10px;
}

.projects .col-md-9:nth-child(2) {
  padding-left: 40px;
}

.projects img:nth-child(2) {
  padding-right: 20px;
}

.projects img {
  border-radius: 10px;
  border: 5px solid black;
}

/*--- Experience ---*/

.experience {
  
  padding-bottom: 40px;
}

.experience li {
  font-size: 16px;
}

.experience h5 {
  text-decoration: underline;
  color: silver;
}


/*--- Media Queries ---*/

@media (max-width: 991px) {
  .main, .nav {
    text-align: center;
  }

  .projects .col-md-9:nth-child(2) {
padding-left: 20px;
}

.projects img:nth-child(2) {
 padding: 0px;
}
}
  