/* CSS STYLE */

html, body {
  margin: 0;
  padding: 0;

}

p {
  font-size: 16px;
}

/*--- All ---*/

.main, .content, .projects, .experience, .section {
  background-color: #2C3E50;;
  color: lightblue;
  font-family: 'Arvo', serif;
}

/*--- Section ---*/

.section {
 
  color: gold;
  

}

/*--- Main ---*/



.main {
  
  padding: 10px;
  
  color: lightblue;
  
}

.main h1 {
  color: gold;
}


.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-circle  {
  border: 5px ridge black;
}

.social-media li {
  display: inline-block;
}

.social-media {
  padding: 0px;
}

span {
  color: white;
}

/*--- Content ---*/

.content {
  color: lightblue;
}

.content h2 {
  color: gold;

}

.content h3{

  color: gold;
}

/*--- Projects ---*/

.projects .row {
  padding-bottom: 10px;
}

.projects .col-md-9:nth-child(2) {
  padding-left: 40px;
}

.projects img:nth-child(2) {
  padding-right: 20px;
}

.projects img {
  border-radius: 10px;
  border: 5px solid black;
}

/*--- Experience ---*/

.experience {
  
  padding-bottom: 40px;
}


/*--- Media Queries ---*/

@media (max-width: 991px) {
  .main {
    text-align: center;
  }
}
  